body {
  background-image: url('3030.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#ffffff;
  margin: 0px;
  padding: 0px;
}

.login_form{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.2rem;
  color:#008f4cee;
  border: solid;
  padding: 0px 10px;
}

.cmbank_img_login {
  display: block;
  margin: 8vh auto;
  width: 10%;
}

.login_title {
  text-align: center;
  font-size: 1.5rem;
}

.user_login_text {
  display: block;
  text-align: center;
  margin: 1% 0px;
}

.input_name {
  margin: .5% 0px;
}

input {
  margin: 0px;
  padding: 0px 10px;
  width: 100%;
  font-size: 1rem;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

a{
  text-decoration: none;
}

.register{
  display: block;
  text-align: center;
}

.register_btn{
  font-size: 1.2rem;
  color: green;
  font-weight: bold;
}

.register_btn:hover{
  
}

.submit_btn{
  background: rgb(50, 211, 29); 
  color: #ffffff;
  border: 1px solid green;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  margin: 2% 0px;
}

.submit_btn:hover{
  cursor: pointer;
}

.form_textfield {
  height: 40px;
}

/* ::placeholder {
  font-size: 1rem;
  padding-left: 1%;
} */

select{
  width: 100%;
  height: 40px;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 1rem;
}

.type{
  display: block;
  float: right;
  width: 48%;
}

.level {
  display: block;
  width: 48%;
}

.container_reg{
  display: flex;
  justify-content: center;
}

.success_reg{
  margin-top: 15vh;
  border: 1px solid white;
  width: 50vw;
  height: 70vh;
  align-items: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, .8);
}

.sucess_reg_img {
  display: block;
  margin: 8vh auto;
  width: 30%;
}

.success_text{
  font-size: 1.5rem;
  text-align: center;
  margin: 0px 4%;
}

.success_home_text{
  margin-top: 2%;
  text-align: center; 
}

.success_home_text a{
  color: green;
  font-weight: bold;
}

.cmbank_img_analytic{
  display: block;
  margin: 4vh auto;
  width: 10%;
}

@media only screen and (max-width: 1193px ) {
  .sucess_reg_img{
    display: block;
    margin: 8vh auto;
    width: 50%;
  }

  .success_home_text{
    margin-top: 5%;
  }
}

@media only screen and (max-width: 882px ) {
  .login_form{
      margin-left: 2%;
      margin-right: 2%;
      font-size: 1rem;
      color:#008f4cee;
      align-content: center;
      border: solid;
  }

  .cmbank_img_login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .cmbank_img_analytic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .success_reg{
    width: 70vw;
    height: 70vh;
  }

  .sucess_reg_img{
    display: block;
    margin: 8vh auto;
    width: 50%;
  }
}